body{
    background-color: #795548;
    font-family: Roboto;
}
.output-msg{
    color: #dadada;
    text-align:left;
    animation-duration: 1.4s;
    animation-name: slidein;
    text-shadow: 0 0 0 rgb(0, 0, 0);
    padding-top:1em;
    padding-bottom:1em;
    width:100%;
}
@keyframes slidein {
    from {
      margin-top: 10%;
    }
    to {
      margin-top: 0%;
    }
  }
.cmd-line{
    display: block;
}
#big-box{
    display: inline;
}
.user-stl{
    background-color:#212121;
    display :flex;
    min-width: 12%;
    align-items: center;
    justify-content: center;
    border-radius: 3em;
}
.spanner{
    display: flex;
}
.input-stl{
    background-color:#212121;
    display: flex;
    width: 100%;
    border-radius: 3em;
}

.username{
    font-size:1.1em;
    color: #33691E;
}

.puncte{
    font-size: 1.3em;
    color:#33691E;
}

.input-bar {
    padding-left: 3%;
}
input[type=text], select {
    width: 1000%;
    margin: 8px 0;
    background: transparent;
    border: none;
    display: flex;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size:1em;
    font-family: Roboto;
    text-shadow: 0 0 0 #E8EAF6;
    color:transparent;
}


/* The navigation menu links */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1em;
}

.sidenav a {
    padding: 0.4em 0.4em 0.4em 1em;
    text-decoration: none;
    font-size: 1.2em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 2em;
    margin-left: 3em;;
}

#main {
    transition: margin-left .5s;
    padding: 2em;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 1em;}
    .sidenav a {font-size: 1em;}
}


.lista_comenzi
{
    list-style-type: none;
}

.listaComenzi
{
    color: #f1f1f1;
}

.lista_parametrii
{
    color: #a19c9c;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.titlec{
    display:flex;
    justify-content: center;
}
