body{
    background-color: #001e3b;
    font-family: Roboto;
}

.output-msg{
    color: red;
}

.cmd-line{
    display: block;
}

#big-box{
    display: inline;
}   
.user-stl{
    background-color: #212121; 
    display :flex;
    min-width: 10%;
    align-items: center;
    justify-content: center;
}

.spanner{
    display: flex;
}

.input-stl{
    background-color:#004589;
    display: flex;
    width: 100%;
}

.username{
    font-size:1.1em;
    color:#F5F5F5;
}

.puncte{
    font-size: 1.3em;
    color:whitesmoke;
}
input[type=text], select {
    width: 1000%;
    margin: 8px 0;
    background: transparent;
    border: none;
    display: flex;
    border-radius: 4px;
    box-sizing: border-box;
    
    font-size:1em;
    font-family: Roboto;
    text-shadow: 0 0 0 #E8EAF6;
    color:transparent;
}


